//- Index Page
doctype html
!= "<!--[if lt IE 7]>      <html class=\"no-js lt-ie9 lt-ie8 lt-ie7\"> <![endif]-->"
!= "<!--[if IE 7]>         <html class=\"no-js lt-ie9 lt-ie8\"> <![endif]-->"
!= "<!--[if IE 8]>         <html class=\"no-js lt-ie9\"> <![endif]-->"
!= "<!--[if gt IE 8]><!-->"
html.no-js
  != "<!--<![endif]-->"
  include include/head
body#_top
    != "<!--[if lt IE 7]>"
    p.browsehappy
      | You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience.
    != "<![endif]-->"
    main(role='main')
        include include/header
        section#hero.row
        section#about.row
            h1 About
            img#portrait.medium-4.columns.rounded(src='holder.js/300x300/sky')
            .medium-8.columns
                h2.row Artist Statement
                    p 
                        | This is my revised artist statement
                h2.row Biography
                    p
                        | This is my updated biography
                h2.row Resume
                    p
                        a(href="##")
                            | This is a link to my JSON Resume
        section#portfolio.row
            h1 Portfolio
            .small-6.columns
                h2 Web Development
                    .row
                        .small-6.columns
                            h3 Front-End
                        .small-6.columns
                            h3 Back-End 
            .small-6.columns
                h2 Photography
                    .row
                        .small-6.columns
                            h3 Nature
                        .small-6.columns
                            h3 Portraits
        section#services.row
            h1 Services
            .small-6.columns
                h2 Web Development
                    .row
                        .small-6.columns
                            h3 Static Sites
                        .small-6.columns
                            h3 Dynamic Sites
            .small-6.columns
                h2 Photography
        section#contact.row
            h1 Contact
                h2 Social Media
                    ul.inline-list
                        li
                            a#facebook(href='//www.facebook.com/ryanadkinsphotography')
                                i.fa.fa-facebook
                                    | Facebook
                        li
                            a#flickr(href='//www.flickr.com/photos/ryanadkins/')
                                i.fa.fa-flickr
                                    | Flickr
                        li
                            a#linkedin(href='//www.linkedin.com/in/ryanaadkins/')
                                i.fa.fa-linkedin
                                    | LinkedIn
                        li
                            a#github(href='//github.com/ryanadkins')
                                i.fa.fa-github
                                    | GitHub
            a#email(href='##')
                i.fa.fa-envelope-o
                    | Email RyanAdkins AT gmail DOT com
            address
                | Anchorage, Alaska USA 
    include include/footer
    include include/js    