//- Head Include File
head
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta( name='description', content="Ryan Adkins is digital artist working in the mediums of web development & photography" )
    title Ryan Adkins Web Developer & Photographer
    link( rel="stylesheet" href="content/css/app.css" )
    link( rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" )
    script( src="/bower_components/modernizr/modernizr.js" )
    script( src="/bower_components/holderjs/holder.js" )