body {
    background: #f8f8f8;
}
main > section {
    width: 100%;
    min-height: 500px;
    background: #f6f6f6;
    border-bottom: rem-calc(6) solid #F0F0F0;
    padding-top: rem-calc(12);
}

main > section:last-of-type {
    border-bottom: none;
}

section > h1 {
    color: #F0F0F0;
    padding-left: rem-calc(12);
    @media #{$medium-up} {
        font-size: rem-calc(96);
        text-shadow: 1px 1px 2px #D6D6D6;
    }
}

section > img {
    border-radius: rem-calc(50);
}